a {
	text-decoration: none;
}

a img {
	border: 0px;	
}

html body{
	font-family: Arial;
	height: 100%;
}

th{
	font-size: 14px;
}

.contenedor{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.cabecera{
	background-image: url('/Ciceron/imagenes/encabezado2.png');
	background-repeat: no-repeat;
	height: 150px;	
}

#tablaLogin{
	width: 400px; 
	border: 1px solid;
	border-color: #c50101;
	background-image: url('/Ciceron/imagenes/degradado_ocre.png');
	background-repeat: repeat-x;	
	border-collapse: collapse;
}

#tablaMenus{
	width: 600px;
	border-collapse: collapse;
	text-decoration: none;
	background-color: #FFF7CC;
	border: 2px solid #FFE87C;
	font-family: Verdana;
}

#tablaMenus th {
	text-align: left;
	border: 0px;	
}

#tablaMenus tr td {
	font-size: 18px;
	text-decoration: none;
}

#tablaMenus tr th {
	background-color: #FFE87C;
	font-size: 20px;
}

.tabla_borde {
	width: 90%;
	margin: 1em 0px 1em 0px;
	border: 2px solid #FFE87C;
	background-color: #FFFBE6;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
    font-size: 12px;
	font-family: Verdana;
}

.tabla_borde td{
    padding: 1px;
}	

.tabla_borde th{
	background-color: #FFE87C;
	padding: 3px;
}

.tabla_busqueda{
	width: 90%;
	margin: 0px;
	border: 2px solid #E5DFFF;
	background-color: #F4F1FF;
	border-collapse: collapse;
	font-size: 12px;
	font-family: Verdana;

}

.tabla_busqueda tr th{
	background-color: #E5DFFF;
	text-align: left;
}

.tabla_busqueda tr td{
	padding: 2px;
}

.tabla_busqueda tr td textarea{
	font-family: Verdana, Arial;	
}

.tabla_centrado_busqueda{
	width: 90%;
	margin: 1em 0px 1em 0px;
	margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 0px;
}

.tabla_centrado_busqueda{
	border: 1px solid black;
	border-collapse: collapse; 
}

.pie{
	background-color:#EEEEEF;
	border-bottom-color:#D9D9D9;
	border-bottom-style:solid;
	border-bottom-width:7px;
	border-left-style-value:none;
	border-left-width-value:0;
	border-right-style-value:none;
	border-right-width-value:0;
	border-top-style:none;
	border-top-width:0;
/* 	height:auto; */
	
/* 	prueba */
	heigth: 4em;
	
}

.piedatos{
	background-image: url('/Ciceron/imagenes/logojuntabn.gif');
	background-position: 30px 3px;
	background-repeat: no-repeat;
	color: #535353;
	font-size: 15px;
	font-family: Verdana;
	height: auto;
	
}
